<style>
    .team_admin_img{
        height: 48px;
        width: 48px;
    }
</style>


<div class="container">

    <h1 class="my-3" >All Teams</h1>
    <div class="row my-3">
        <% @teams.each do |team| %>
            <%= render "card",team: team %>
       <% end %>
    </div>

</div>

