
<div class="container">
  <div class="row my-5">
    <div class="col-6 offset-3">
          <h1 class="text-center">
            Create New Team
        </h1>
        <%=render "form" , team: @team ,button:"Create a New Team",img:true %>
    </div>
  </div>
</div>
