<style>
    .team_admin_img{
        height: 48px;
        width: 48px;
    }
</style>

<%= render "header" %>

<div class="container">

    <%if @team.freelancers.length>1%>
    <div class="card shadow my-3">
        <div class="card-body">
            <h2 class="text-center">Team Members</h2>
            <div class="row">
                <% @team.freelancers.each do |freelancer| %>
                    <%=render "members" ,freelancer:freelancer %>
                <%end%>
            </div>
        </div>
    </div>
    <%end%>

    <h3 class="my-3">Projects</h3>
    <div class="row">
        <%@team.projects.each do |project|%>
            <%=render "projects/card",project:project,author_display:true%>
        <%end%>
    </div>
</div>





