<style>
    .team_admin_img{
        height: 48px;
        width: 48px;
    }
</style>

<%= render "header" %>

<div class="container">

    <div class="card shadow my-3">
        <div class="card-body">
            <h1 class="text-center">Team Members</h1>
            <div class="row">
                <% @team.freelancers.each do |freelancer| %>
                    <%=render "members" ,freelancer:freelancer %>
                    
                <%end%>
            </div>
        </div>
    </div>
</div>





