<% stylesheet_link_tag "layout_index" %>

<div class="landing_page_container">
       <div class="logo-container">
        <%= image_tag("logo.png", :alt => "rss feed",class:"logo-img") %>
       </div>
       <div class="desc">
            <div class="client">
                <div>
                    CLIENT
                </div>
                <div>
                    <i class="fa-solid fa-business-time"></i>
                </div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae vitae veritatis eius unde ipsa assumenda harum est, itaque laudantium ea provident id accusamus? Architecto ad deserunt incidunt quisquam, odit enim?
                </div>
                <div>
                    <a class="btn btn-primary">Join as Client</a>
                </div>
            </div>


            <div class="freelancer">
                <div>
                    FREELANCER
                </div>
                <div>
                    <i class="fa-solid fa-business-time"></i>
                </div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae vitae veritatis eius unde ipsa assumenda harum est, itaque laudantium ea provident id accusamus? Architecto ad deserunt incidunt quisquam, odit enim?
                </div>
                <div>
                    <a class="btn btn-success">Join as Freelancer</a>
                </div>
            </div>

       </div>
</div>
