<style>
    .landing_page_container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    .desc{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:24px;
    }
    .client,.freelancer{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:12px;
    }
</style>
<div class="landing_page_container">
       <div class="logo-container">
        <%= image_tag("logo.png", :alt => "rss feed",class:"logo-img") %>
       </div>
       <div class="desc">
            <div class="client">
                <div>
                    CLIENT
                </div>
                <div>
                    <i class="fa-solid fa-business-time fa-flip" style="color: #4248bc;"></i>
                </div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae vitae veritatis eius unde ipsa assumenda harum est, itaque laudantium ea provident id accusamus? Architecto ad deserunt incidunt quisquam, odit enim?
                </div>

            </div>


            <div class="freelancer">
                <div>
                    FREELANCER
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-code fa-flip " style="color: #4248bc;"></i>
                </div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae vitae veritatis eius unde ipsa assumenda harum est, itaque laudantium ea provident id accusamus? Architecto ad deserunt incidunt quisquam, odit enim?
                </div>

            </div>

       </div>
</div>

