
<div class="landing_page_container">
       <div class="logo-container">
        <%= image_tag("logo.png", :alt => "rss feed",class:"logo-img") %>
       </div>
       <div class="desc">
            <div class="client">
                <div>
                    CLIENT
                </div>
                <div>
                    <i class="fa-solid fa-business-time fa-flip" style="color: #4248bc;"></i>
                </div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae vitae veritatis eius unde ipsa assumenda harum est, itaque laudantium ea provident id accusamus? Architecto ad deserunt incidunt quisquam, odit enim?
                </div>
                <div>
                    <%= link_to "Join as Client",client_registration_path ,class:"btn btn-outline-primary"%>
                </div>
            </div>


            <div class="freelancer">
                <div>
                    FREELANCER
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-code fa-flip " style="color: #4248bc;"></i>
                </div>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae vitae veritatis eius unde ipsa assumenda harum est, itaque laudantium ea provident id accusamus? Architecto ad deserunt incidunt quisquam, odit enim?
                </div>
                <div>
                    <%= link_to "Join as Freelancer",freelancer_registration_path ,class:"btn btn-outline-success"%>
                </div>
            </div>

       </div>
</div>

<%=button_to "Logout",destroy_account_session_path,method: :delete%>
