
<style>
    .floating_button{
        position:absolute;
        bottom:20px;
        right:20px;
        width: fit-content;
        border-radius: 50%;

    }
</style>



<div class="container">
    <h2 class="my-3">My Projects </h2>
    <div class="row my-3">
        <%@projects.each do |project|%>
            <%= render "card",project:project,author_display:false%>
        <%end%>
    </div>
    <div class="floating_button">
        <%= link_to new_project_path,class:"btn btn-success p-4 shadow  floating_button" do%>
                <i class="fa-sharp fa-solid fa-plus fa-xl" style="color:white"></i>
        <%end %>

    </div>
    <%=paginate @projects, window: 2%>
</div>


