<div class="container ">
    <div class="row my-5 ">
            <div class="col-6 offset-3 ">

                        <h3 class="text-center">Edit  <%=@project.name%></h3>
                        <%= render "form", project: @project ,button:"Edit Project" ,img:false %>

            </div>
    </div>
</div>
