<div class="container ">
    <div class="row my-5 ">
            <div class="col-6 offset-3 ">
                <h1 class="text-center">New project</h1>
                <%= render "form", project:@project ,button:"New Project" %>
            </div>
    </div>
</div>



