
.landing_page_container{
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(145deg,#A0C3D2 0%, #A0C3D2,50%, lightgray 50%, var(--white) 100%); */
    align-items: center;
}

.logo-container{
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px
}


.client,.freelancer{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:24px;
}

.content{
    text-align: justify;
}

