<div class="col-4 my-3">
    <div class="card shadow">
        <div class="card-body">
            <p><strong>Comment : </strong><%=feedback.comment%></p>
            <p><strong>Rating : </strong><%=feedback.rating%><i class="fa-solid fa-star" style="color:gold"></i></p>
            <p><strong>Commented By : </strong><%=feedback.created.name%></p>
        </div>
    </div>
</div>

