<%= render "header",user:@client%>



<div class="container">
    <div class="card shadow my-3">
        <div class="card-body">
            <p>Company Name : <%=@client.company%></p>
            <p>Company Location : <%=@client.company_location%></p>
        </div>
    </div>
</div>
